.main__second-section {
    background-color: $second-section-bg;
    display: flex;
    justify-content: center;
    .main__second-container {
        padding-top: 80px;
        padding-bottom: 80px;
        max-width: 1110px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1140px) {
            & {
                max-width: 940px;
            }
        }
        @media screen and (max-width: 950px) {
            & {
                max-width: 700px;
            }
        }
        @media screen and (max-width: 779px) {
            & {
                max-width: 500px;
            }
        }
        .second__top-line {
            max-width: 1110px;
            border-top: 1px solid #998431;
            margin-bottom: 60px;
        }
        .main__second-content {
            display: flex;
            @media screen and (max-width: 779px) {
                & {
                    display: flex;
                    flex-direction: column;
                }
            }
            .main__second-articles {
                .main__articles-label {
                    color: #000000;
                    font-weight: 400;
                    font-size: $button-text-font-size;
                    line-height: 24px;
                    padding-bottom: 30px;
                }
                .main__articles-title {
                    color: $main-section-bg-color;
                    font-size: 36px;
                    line-height: 54px;
                    max-width: 328px;
                    margin-bottom: 30px;
                }
                .main__articles-line {
                    max-width: 160px;
                    border-top: 1px solid #282828;
                    margin-bottom: 30px;
                }
                .articles__first-description {
                    color: $main-section-bg-color;
                    font-weight: 400;
                    font-size: $nav-item-font-size;
                    line-height: 21px;
                    margin-bottom: 30px;
                }
                .main__articles-table {
                    display: flex;
                    .main__table-dates {
                        p {
                            color: $main-section-bg-color;
                            font-weight: 400;
                            font-size: $nav-item-font-size;
                            line-height: 21px;
                            padding: 26px 24px 26px 24px;
                            border-right: 1px solid #282828;
                            border-bottom: 1px solid #282828;
                            &:last-child {
                                border-bottom: 0px;
                            }
                            @media screen and (max-width: 950px) {
                                & {
                                    padding: 26px 20px 26px 20px;
                                }
                            }
                        }
                    }
                    .main__table-articles {
                        .main__table-article {
                            padding-left: 30px;
                            padding-bottom: 15px;
                            padding-top: 5px;
                            @media screen and (max-width: 1140px) {
                                & {
                                    padding-left: 30px;
                                    padding-bottom: 4px;
                                    padding-top: 4px;
                                }
                            }
                            @media screen and (max-width: 950px) {
                                & {
                                    padding-bottom: 4px;
                                    padding-top: 4px;
                                }
                            }
                            @media screen and (max-width: 779px) {
                                & {
                                    padding-bottom: 4px;
                                    padding-top: 4px;
                                }
                            }
                            &:not(:last-child) {
                                border-bottom: 1px solid #282828;
                            }
                            h3 {
                                color: $main-section-bg-color;
                                font-size: 18px;
                                line-height: 27px;
                                font-weight: 700;
                                padding-bottom: 5px;
                                @media screen and (max-width: 1140px) {
                                    & {
                                        font-size: 14px;
                                        line-height: 16px;
                                        font-weight: 600;
                                    }
                                }
                                @media screen and (max-width: 950px) {
                                    & {
                                        font-size: 14px;
                                        line-height: 16px;
                                        font-weight: 600;
                                    }
                                }
                                @media screen and (max-width: 779px) {
                                    & {
                                        font-size: 18px;
                                        line-height: 16px;
                                        font-weight: 600;
                                        padding-bottom: 10px;
                                        padding-top: 10px;
                                    }
                                }
                            }
                            p {
                                color: $main-section-bg-color;
                                font-weight: 400;
                                font-size: $nav-item-font-size;
                                line-height: 21px;
                                @media screen and (max-width: 1140px) {
                                    & {
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 14px;
                                    }
                                }
                                @media screen and (max-width: 950px) {
                                    & {
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 14px;
                                    }
                                }
                                @media screen and (max-width: 779px) {
                                    & {
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 14px;
                                        padding-bottom: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
                .vine__description{
                    margin-top: 30px;
                }
                .main__articles-button {
                    background-color: $button-bg-color;
                    padding: 15px 30px 15px 30px;
                    max-width: 254px;
                    a {
                        font-weight: 500;
                        font-size: $button-text-font-size;
                        line-height: 19px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        text-decoration: none;
                        white-space: nowrap;
                    }
                }
            }
            .main__second-gallery {
                margin-left: 125px;
                @media screen and (max-width: 1140px) {
                    & {
                        margin-left: 125px;
                    }
                }
                @media screen and (max-width: 950px) {
                    & {
                        margin-left: 80px;
                    }
                }
                .gallery__bottles-images {
                    padding-top: 30px;
                    display: flex;
                    gap: 30px;
                    @media screen and (max-width: 950px) {
                        & {
                            padding-top: 0px;
                            display: flex;
                            gap: 10px;
                            flex-direction: column;
                        }
                    }
                    @media screen and (max-width: 779px) {
                        & {
                            padding-top: 0px;
                            display: flex;
                            gap: 10px;
                            flex-direction: column;
                        }
                    }
                    .gallery__bottles-image {
                        .gallery__bottle-image {
                            @media screen and (max-width: 950px) {
                                & {
                                    width: 366px;
                                    height: 240px;
                                }
                            }
                        }
                    }
                }
                .gallery__glass-image {
                    .glass__image {
                        @media screen and (max-width: 950px) {
                            & {
                                width: 366px;
                                height: 400px;
                            }
                        }
                    }
                }
            }  
        }
        .second__bottom-line {
            margin-top: 60px;
            max-width: 1110px;
            border-top: 1px solid #998431;
            margin-bottom: 60px;
        } 
    }
}