.header__container {
    display: flex;
    background-image: url(../img/background-image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 755px;
    justify-content: center;
    .header__blocks-container {
        display: flex;
        flex-direction: column;
        max-width: 1110px;
        @media screen and (max-width: 1140px) {
            & {
                max-width: 1010px;
            }
        }
        @media screen and (max-width: 950px) {
            & {
                max-width: 700px;
            }
        }
        @media screen and (max-width: 779px) {
            & {
                max-width: 510px;
            }
        }
        @media screen and (max-width: 650px) {
            & {
                max-width: 410px;
            }
        }
        @media screen and (max-width: 480px) {
            & {
                max-width: 340px;
            }
        }
        .header__fixed-container {
            padding-top: 30px;
            .header__contacts-container {
                display: flex;
                justify-content: space-between;
                .header__contacts-address {
                    padding-bottom: 20px;
                    a {
                        text-decoration: none;
                        font-weight: 500;
                        font-size: $contacts-font-size;
                        line-height: 19.5px;
                    }
                }
                .header__contacts-phone {
                    a {
                        text-decoration: none;
                        font-weight: 500;
                        font-size: $contacts-font-size;
                        line-height: 19.5px;
                    }
                }
            }   
            .header__navigaion-items {
                display: flex;
                justify-content: center;
                border-top: 1px solid #FFFFFF;
                border-bottom: 1px solid #FFFFFF;
                li {
                    padding-top: 13px;
                    padding-bottom: 13px;
                    min-width: 285px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width: 1140px) {
                        & {
                            min-width: 215px;
                        }
                    }
                    @media screen and (max-width: 950px) {
                        & {
                            min-width: 165px;
                        }
                    }
                    @media screen and (max-width: 779px) {
                        & {
                            min-width: 135px;
                        }
                    }
                    @media screen and (max-width: 650px) {
                        & {
                            min-width: 100px;
                        }
                    }
                    @media screen and (max-width: 480px) {
                        & {
                            min-width: 90px;
                        }
                    }
                    &:not(:first-child) {
                        border-left: 1px solid #FFFFFF;
                    }
                    a {
                        text-decoration: none;
                        font-weight: 400;
                        font-size: $nav-item-font-size;
                        line-height: 21px;
                    }
                }
                
            }
        }
        .header__buttons-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .header__buttons-items {
                display: flex;
                max-width: 1110px;
                padding-left: 585px;
                @media screen and (max-width: 480px) {
                    & {
                        display: flex;
                        flex-direction: column;
                    }
                }
                .header__button {
                    padding: 15px 30px 15px 30px;
                    background-color: $button-bg-color;
                    position: absolute;
                    top: 0;
                    left: 38%;
                    margin-top: 575px;
                    @media screen and (max-width: 1140px) {
                        & {
                            left: 35%;
                        }
                    }
                    @media screen and (max-width: 950px) {
                        & {
                            left: 29%;
                        }
                    }
                    @media screen and (max-width: 779px) {
                        & {
                            left: 23%;
                        }
                    }
                    @media screen and (max-width: 650px) {
                        & {
                            left: 18%;
                            padding: 15px;
                        }
                    }
                    @media screen and (max-width: 480px) {
                        & {
                            margin-top: 500px;
                            left: 33%;
                            padding: 15px;
                        }
                        &:last-child {
                            top: 8%;
                            left: -14%;
                            margin-left: 0px;
                        }
                    }
                    @media screen and (max-width: 445px) {
                        & {
                            margin-top: 500px;
                            left: 33%;
                            padding: 15px;
                        }
                        &:last-child {
                            top: 8%;
                            left: -18%;
                            margin-left: 0px;
                        }
                    }
                    @media screen and (max-width: 400px) {
                        & {
                            left: 29%;
                            padding: 15px;
                        }
                        &:last-child {
                            top: 10%;
                            left: -28%;
                            margin-left: 0px;
                        }
                    }
                    &:last-child {
                        margin-left: 230px;
                    }
                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: $button-text-font-size;
                        line-height: 19px;
                        letter-spacing: 1px;
                        & { 
                            white-space: nowrap;
                        }
                    }
                    
                }
            }
        }
    }
}